<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/myStyles.css}" rel="stylesheet" />
<title>UserLogin</title>
</head>
<body>
<br><br>
<h1  style="color:red;">Online Banking System</h1>
<br><br>
<div th:unless="${#lists.isEmpty(user)}"class ="container">
<h2>An User is already logged in </h2>
<form action="./login" method="post">
	<h2><input type="submit" value="Click Here" class="button"></h2>
</form>
</div>
<div th:if="${#lists.isEmpty(user)}" class ="container">
<form action="./userLogin" method="post">
<input type="text" class="effect-17"  name="userId" placeholder="Enter UserId..."><br>
<br>
<input type="password" class="effect-17"  name="password" placeholder="Enter Password..."><br>

<input type="submit" value="Login">
</form>

<div th:unless="${#lists.isEmpty(msg)}">
<div th:if="${msg==-1}">
<h3 id="ongoing">User Not Found!</h3>
</div>
</div>
</div>
</body>
</html>